body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.homePage {
  position: relative;
  justify-content: center;
}

.img {
  margin-top: -122px;
  margin-left: 126px;
}

.nav {
  /* color: black; */
  /* color: white; */
  color: black;
  font-size: 25px;
  text-decoration: none;
margin: auto;
}

/* .nav:hover {
  color: darkslategray;
} */

.bg-dark {
  /* background-color: #f2e394 !important; */
  background-color: #B4BF5E !important;
}

/* .logo-nav {
  z-index: 99;
  position: absolute;
} */

.button {
  /* background-color: #588c7e;
  border: #588c7e; */
  background-color: #485922 ;
  border: #485922;

}

.button:hover {
  background-color: #34495e;
  border: #34495e;
}
