body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.homePage {
  position: relative;
  justify-content: center;
}

.img {
  margin-top: -122px;
  margin-left: 126px;
  position: absolute;
}

.nav {
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.nav-profile {
  color: black;
  font-size: 25px;
  text-decoration: none;
  margin-left: -852px;
}

.nav:hover , .nav-profile:hover {
  color: darkslategray;
}

.bg-dark {
  /* background-color: #f2e394 !important; */
  background-color: #b4bf5e !important;
}

.home-heading {
  position: absolute;
  z-index: 99;
  left: 474px;
}
.home-text {
  position: absolute;
  z-index: 99;
  top: 73px;
  right: 387px;
}

.button {
  /* background-color: #588c7e;
  border: #588c7e; */
  background-color: #485922;
  border: #485922;
}

.button:hover {
  background-color: #34495e;
  border: #34495e;
}

.home-button-all {
  position: absolute;
  z-index: 99;
  top: 270px;
  left: 659px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #34495e;
  border: #34495e;
}

.home-button-new {
  position: absolute;
  z-index: 99;
  top: 361px;
  left: 632px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #34495e;
  border: #34495e;
}
