body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}
.homePage {
	position: relative;
}

.request {
	border: 1px solid black;
}

.nav {
	color: white;
	font-size: 25px;
	text-decoration: none;
}

.nav-profile {
	color: white;
	font-size: 25px;
	text-decoration: none;
	margin-left: -852px;
}

.nav:hover,
.nav-profile:hover {
	color: darkslategray;
}

.bg-dark {
	background-color: #1a1948 !important;
}

.buttons-login-signup {
	/* background-color: #588c7e;
  border: #588c7e; */
	/* background-color: #485922;
  border: #485922;   */
	background-color: #89c5cc;
	border: #89c5cc;
}

.button:hover {
	background-color: #34495e;
	border: #34495e;
}

.signout {
	background-color: #bb2a1f;
}

.home-button {
	padding: 10px 20px;
	font-size: 20px;
	background-color: #d84034;
	border: #d84034;
}

.home-button:hover {
	background-color: #bb2a1f;
	border: #bb2a1f;
}

.footer {
	padding: 0.5rem;
	/* background-color: rgb(235, 195, 64); */
	background-color: #e4e4e4;
	opacity: 0.4;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
}

h1 {
	text-align: center;
}
